{% extends 'base.html' %}
{% load static %}


{% block bodyblock %}


<div class="container" style="padding-top:50px;">
  <div class="jumbotron">
      <div class="text-center">
{% if user.is_authenticated and user.is_staff %} 
<h2>Welcome to Adminpanel</h2>
<h3>Add a Story</h3>
  <form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block text-white btn-user">Upload</button>
</form>
{% elif  user.is_authenticated%}
<h3>You dont have acess to this page! Contact Admin</h3>

{% else %}
 <h2>PLease login to continue</h2> 
{% endif %}
</div>
</div>
</div>
{% endblock %}